body {
  background-color: #c7f2e3;
  border-style: none;
  font-family: sans-serif;
}
hr {
  height: 0;
  width: 5%;
  border-style: none;
  border-color: grey;
  border-top-style: dotted;
  border-width: 5px;
}

h1 {
  color: #66bfbf;
}

h3 {
  color: #66bfbf;
}

#title {
  color: gold;
}

.link {
  font-style: italic;
}

.link:hover {
  font-size: 20px;
}

.circular {
  border-radius: 100%;
}
